html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.resizer,
.bottom {
  display: none !important;
}
.window-content {
  height: 100vh;
  overflow: hidden !important;
}
body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  padding: 0;
  outline: 0;
  margin: 0;
  box-shadow: none;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.2);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

li {
  list-style: none;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
li:hover {
  cursor: pointer;
}
.selected {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in-out;
}

#music-list {
  background-color: rgba(0, 0, 0, 0.3);
  width: 50%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.title-container {
  height: 10vh;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playlist {
  max-height: 70vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.right-div {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-header {
  height: 10%;
  padding-left: 20px;
}
.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 400px;
}

.custom-audio-player button {
  background: none;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-audio-player button svg {
  width: 40px;
  height: 40px;
}

.turning-vinyle img {
  width: 200px;
  height: 200px;
  animation: spin 3s linear infinite;
}
.turning-vinyle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.progress-bar-container span {
  padding: 10px;
}

.progress-wrapper {
  flex: 1;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #e73c7e;
  border-radius: 5px 0 0 5px;
  transition: width 0.1s linear;
}

.music-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  height: 90%;
}

.content div {
  margin: 0;
}
