:root {
  --gray: #c0c0c0;
  --dark: #808080;
  --white: #ffffff;
  --blue: #000080;
}
body {
  height: 100%;
  font-family: "Zalando Sans", sans-serif;
  background-color: #2d2d2d;
  overflow: hidden;
  margin: 0;
}
.notepad-container {
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: none;
}
#note-input {
  margin-top: 50px;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  padding: 5px;
  font-size: 14px;
  line-height: 1.2;
  color: black;
  background-color: #2d2d2d;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

#note-input:focus {
  padding: 5px;
  flex-grow: 1;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 14px;
  background-color: var(--white);
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.buttons {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 5;
  background-color: #1e1e1e;
  border: #1e1e1e 1px solid;
  margin-top: -1px;
}
/*
#save-button {
  background-color: green;
}

#delete-button {
  background-color: red;
} */

.buttons button:hover {
  opacity: 0.8;
  transition: 0.4s ease;
  cursor: pointer;
}

.buttons button {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 10px;
  padding: 5px;
  color: white;
  width: 100px;
  transition: 0.4s ease;
}

button:hover {
  background-color: #2d2d2d;
}
.CodeMirror {
  margin-top: 30px;
  height: auto !important;
  max-height: none !important;
  overflow: hidden !important;
  border: none;
}

.notepad-container {
  border: none;
}

.cm-s-monokai.CodeMirror {
  background-color: #2d2d2d !important;
}

.cm-s-monokai .CodeMirror-gutters {
  background-color: #2d2d2d !important;
}
